* {
box-size: border-box;
}

body {
	background-color: #64b5ae;
	background-image: url("squiggle.png");
	background-repeat: repeat-y;
	font-size: 62.5%;
	font-family: 'Roboto Mono', monospace;


}

.top-bar {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
}

nav a {
	font-color: black;
	font-size: 1.5rem;
}

nav {
	padding: 30px 0px 0px 0px;
	position: fixed;
	top: 0;
	right: 0;
	z-index:99;
}



.profile-photo {
	width: 400px;
	height: 400px;
	padding: 0px 0px 0px 80px;
}

.socials img {
	width: 40px;
	height: 40px;
}
.socials2 img {
	width: 40px;
	height: 40px;
}

.socials {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 50px;

}

.socials a {
	width: 40px;
	height: 40px;
}

.linkedin {
	position: fixed;
	top: 150px;
	left: 1350px;
	width: 100%;
}

.github {
	position: fixed;
	top: 200px;
	left: 1350px;
	width: 100%;
	
}

.email {
	position: fixed;
	top: 250px;
	left: 1350px;
	width: 100%;
	
}

.top-bar a {
	text-decoration: none;
	color: white;

}

.top-grid {

	display: inline-flex;
	flex-wrap: wrap;
	padding: 0px 0px 0px 100px;
	position: relative;
	top: 50px;
	width: 100%;
}

.about {
	width: 700px;
}
.about p {
	font-size: 1.1rem;
}

.about h2 {
	font-size: 2rem;
}

.my-projects {
	height: 45px;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  	position: relative;
	justify-content: center;
  	top: 5px;
	text-decoration: none;
	color: black;
	width: 30%;
}

.my-projects a {
	text-decoration:none;

}

.my-projects:hover {
	background-color: #64b5ae;
	box-shadow: 0px 15px 20px rgba(100, 181, 174, 0.4);
	color: #fff;
	transform: translateY(-7px);
	text-decoration: none;
}

.projects img {
	width: 350px;
	height: 300px;

}

.projects {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	height: 1400px;
	width: 1400px;
	padding: 50px;
	border: 70px;
	position: relative;
	top: 100px;
}

.projects div {
	max-width: 350px;
	font-size: 1rem;
	padding: 10px;
}



.contact {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.contact h2 {
	font-size: 1.5rem;
}

.linkedin-photo {
	height: 250px;
	width: 300px;
}

.contact li {
	list-style-type: circle;
}

.contact {
	display: flex;
	justify-content: start;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
}

.socials2 {
	display: flex;
	flex-direction: row;
	width: 100px;
	padding: 50px;
	position: relative;
	top: 30px;
}

.letstalk p {

	font-size: 4rem;
	font-weight: bold;
	position: relative;
	top: 0%;
	color: white;
}