* {
	box-size: border-box;
}

body {
	background-color: #64b5ae;
	background-image: url("squiggle.png");
	background-repeat: repeat-y;
	font-size: 62.5%;
	font-family: 'Roboto Mono', monospace;
	color: #000000;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	background-color: #64b5ae;
	font-size: 1rem;
	z-index: 99;
}
.top-bar-container {
	background-color: #64b5ae;
}

h1 {
	padding-left: 100px;
}

nav a {
	font-size: 1.5rem;
}

nav a:hover {
	color: #000000;
}

nav {
	padding: 30px 30px 0 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	background-color: #64b5ae;
}

.profile-photo {
	width: 500px;
	height: 500px;
	padding: 0 0 0 80px;
}

.socials img {
	width: 40px;
	height: 40px;
}

.socials2 img {
	width: 40px;
	height: 40px;
}

.socials {
	display: flex;
	flex-direction: column;
	padding: 50px;
	position: fixed;
	z-index: 98;
}

.socials a {
	width: 100%;
	height: 40px;
}

.linkedin {
	position: fixed;
	top: 150px;
	right: 50px;
	width: 100%;
}

.github {
	position: fixed;
	top: 200px;
	right: 50px;
	width: 100%;
}

.email {
	position: fixed;
	top: 250px;
	right: 50px;
	width: 100%;
}

.top-bar a {
	text-decoration: none;
	color: #FFFFFF;
}

.top-grid {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
}

.about {
	width: 50%;
}

.about ul {
	font-size: 1.5rem;
}

.about h2 {
	font-size: 2rem;
}

.my-projects {
	height: 45px;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  	position: relative;
	justify-content: center;
  	top: 5px;
	text-decoration: none;
	width: 30%;
	text-align: center;
	padding-top: 20px;

}

.my-projects a {
	text-decoration: none;
}

.my-projects:hover {
	background-color: #64b5ae;
	box-shadow: 0px 15px 20px #64B5AE;
	color: #fff;
	transform: translateY(-7px);
	text-decoration: none;
}

.projects img {
	width: 350px;
	height: 300px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	padding: 90px;
	border: 70px;
}

.projects div {
	max-width: 350px;
	font-size: 1rem;
	padding: 10px;
}

.contact {
	flex-wrap: wrap;
	flex-direction: row;
	top: 70px;
	display: flex;
	justify-content: start;
	padding: 10px;
	font-size: 1.5rem;
	width: 80%;
}

.linkedin-photo {
	height: 250px;
	width: 300px;
}

.socials2 {
	display: flex;
	flex-direction: row;
	width: 100px;
	padding: 50px;
	position: relative;
	top: 30px;
}

.letstalk p {
	font-size: 4rem;
	font-weight: bold;
	color: #000000;
}

footer {
	padding-left: 60px;
}

@media only screen and (max-width: 1274px) {
	
	.profile-photo {
		width: 400px;
		height: 400px;
		padding: 0 0 0 80px;
	}
}

@media only screen and (max-width: 1074px) {
	
	.col {
		width: 100%;
	}
	
	nav {
		display: none;
	}
	
	.about {
		width: 100%;
		padding-right: 100px;
	}
	
	.profile-photo {
		width: 300px;
		height: 300px;
		padding: 0 0 0 80px;
	}
	
	.linkedin-photo {
		height: 125px;
		width: 150px;
	}
  
	.letstalk p {
		display: none;
	}
}

@media only screen and (max-width: 660px) {
	
	.col {
		width: 100%;
	}
	
	nav {
		display: none;
	}
	
	.about p {
		width: 100%;
		font-size: 0.65rem;
	}
	
	.profile-photo {
		width: 200px;
		height: 200px;
		padding: 0 0 0 80px;
	}
	
	.linkedin-photo {
		height: 125px;
		width: 150px;
		padding-right: 50px;
	}
	
	.contact {
		width: 80%;
	}
	
	.letstalk p {
		display: none;
	}
	
	.my-projects {
		margin-top: 230px
	}
}